/src/HydroCloud/Bin/Debug
/src/HydroCloud/Bin/Release
/src/HydroCloud/obj
/src/HydroCloud.Web/ClientBin
/src/HydroCloud.Web/obj
/src/SilverGlobe/obj
/src/SilverMapDemo/Bin/Debug
/src/SilverMapDemo/Bin/Release
/src/SilverMapDemo/obj
